body, * {
  text-align: center;
  font-family: 'Geo', monospace;
  font-weight: 400;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  margin-top: 50px;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
}

div {
  vertical-align: top;
}
