body, * {
  text-align: center;
  font-family: 'Geo', monospace;
  font-weight: 400;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  outline: none;
}

body {
  margin-top: 50px;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #a86ed4;
}

a:hover {
  color: #ffa56c;
}

div {
  vertical-align: top;
}

.grid-container {
  margin: 0 auto;
}

.hover1:hover {
  background-color: #b1c559 !important;
  color: white;
}

@keyframes move-up { 0% {transform: translateY(100%);} 100% {transform: translateY(0);} }
@-webkit-keyframes move-up { 0% {-webkit-transform: translateY(100%);} 100% {-webkit-transform: translateY(0);} }
@-moz-keyframes move-up { 0% {-moz-transform: translateY(100%);} 100% {-moz-transform: translateY(0);} }
@-o-keyframes move-up { 0% {-o-transform: translateY(100%);} 100% {-o-transform: translateY(0);} }

@keyframes move-down { 0% {transform: translateY(-100%);} 100% {transform: translateY(0);} }
@-webkit-keyframes move-down { 0% {-webkit-transform: translateY(-100%);} 100% {-webkit-transform: translateY(0);} }
@-moz-keyframes move-down { 0% {-moz-transform: translateY(-100%);} 100% {-moz-transform: translateY(0);} }
@-o-keyframes move-down { 0% {-o-transform: translateY(-100%);} 100% {-o-transform: translateY(0);} }

@keyframes move-right { 0% {transform: translateX(-100%);} 100% {transform: translateX(0);} }
@-webkit-keyframes move-right { 0% {-webkit-transform: translateX(-100%);} 100% {-webkit-transform: translateX(0);} }
@-moz-keyframes move-right { 0% {-moz-transform: translateX(-100%);} 100% {-moz-transform: translateX(0);} }
@-o-keyframes move-right { 0% {-o-transform: translateX(-100%);} 100% {-o-transform: translateX(0);} }

@keyframes move-left { 0% {transform: translateX(100%);} 100% {transform: translateX(0);} }
@-webkit-keyframes move-left { 0% {-webkit-transform: translateX(100%);} 100% {-webkit-transform: translateX(0);} }
@-moz-keyframes move-left { 0% {-moz-transform: translateX(100%);} 100% {-moz-transform: translateX(0);} }
@-o-keyframes move-left { 0% {-o-transform: translateX(100%);} 100% {-o-transform: translateX(0);} }
